@import 'styles/utils/variables';

.column-button {
  margin-left: auto;

  width: 24px;
  height: 24px;
  color: #bbb0c8;

  transition: $primaryTransition;

  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.column-button__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
