@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.button {
  display: block;

  padding: 16px;

  min-width: 376px;
  max-width: 100%;

  word-break: break-word;

  @include font($lexend, 16px, $fontWeightMedium, 1.5);

  transition: $primaryTransition;
}

.button--filled {
  color: $white;

  background-color: $primaryColor;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.button--text {
  text-align: center;

  color: #2c343a;

  &:hover,
  &:focus {
    color: #3333ff;
  }
}
