@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.column {
  padding: 0px 5px;

  @include font($nunito, 16px, $fontWeightBold, 1.5);
  color: $primaryTextColor;
  word-break: break-word;
}

.column--gray {
  color: rgba(159, 159, 182, 0.6);
}
