@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.error__title {
  @include font($lexend, 40px, $fontWeightBold, 1.6);
  color: $secondaryTextColor;
  text-align: center;
  margin-bottom: 10px;
}

.error__image {
  margin-bottom: 10px;
}

.error__text {
  @include font($lexend, 24, null, 1.6);
  color: $secondaryTextColor;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
