@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.label {
  width: 100%;

  display: flex;
  flex-direction: column;

  @include font($lexend, null, null, 1.7);
  color: $quinaryTextColor;

  word-wrap: break-word;
}

.label__text {
  margin-bottom: 4px;
}

.label__text--error {
  color: $errorColor;
}

.label__error-message {
  @include font($lexend, null, null, 1.7);
  color: $errorColor;
  margin-top: 4px;
}

.label__input {
  height: 48px;
  padding: 12px 16px;

  @include font($lexend, 15px, null, 1.6);
  color: $secondaryTextColor;

  transition: $primaryTransition;

  border: 1px solid #cad2d6;
  background: $white;

  outline: none;

  &:focus-visible {
    border: 1px solid $quinaryTextColor;
  }

  &::placeholder {
    color: $placeholderColor;
  }

  &:hover {
    box-shadow: 0px 2px 6px 0px rgba(4, 9, 33, 0.1);
  }
}

.label__input--error {
  border-color: $errorColor;

  &:focus {
    border-color: $errorColor;
  }
}
