@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.table {
  margin-bottom: 30px;
}

.table__header {
  display: grid;

  padding: 0px 12px;

  margin-bottom: 17px;
}

.table__header__text {
  @include font($nunito, 16px, $fontWeightSemiBold, 1.5);
  color: rgba(159, 159, 182, 0.6);

  word-break: break-word;
}

.table__children-container {
  max-height: 673px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 6px;
  background: #e5e9f0;
}

::-webkit-scrollbar-thumb {
  padding: 40px;
  border-radius: 6px;
  background: $primaryColor;

  width: 4px;
  height: 43px;
}
