@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 595px;
  min-height: 724px;

  padding: 86px 0px;

  background-color: $white;
}

.modal__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;

  color: rgba(0, 0, 0, 1);

  transition: $primaryTransition;

  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.modal__button__icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.modal__title {
  margin-bottom: 32px;

  @include font($lexend, 20px, $fontWeightBold, 1.6);
  color: $secondaryTextColor;
}
