// Colors

$primaryColor: #7101ff;
$accentColor: #4b259b;
$errorColor: #da1b41;
$warningColor: #f6ba06;

$white: #ffffff; /* Auth bg + sidebar items + dashboard select&items bg + button text*/
$whiteWithOpacity: rgba(255, 255, 255, 0.8); /* dashboard text unfocused */

$primaryTextColor: #111112; /* Dashboard items text + dashboard title */
$secondaryTextColor: #000000; /* Auth & StudentDetail titles + focused inputs + StudentDetail select */

$quinaryTextColor: #505e68; /* Form description + input label + checkbox label */

// Inputs

$placeholderColor: #909fa9; /* Auth inputs palceholder color*/

$dropDownText: #3b4360;
$dropDownTextWithOpacity: rgba(59, 67, 96, 0.45);

// Text

$lexend: 'Lexend', sans-serif;
$nunito: 'Nunito', sans-serif;

$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

// Other

$primaryTransition: all 0.6s ease;

$dashboardBgColor: #f8f8f8;

$sidebarWidth: 260px;
$sidebarBgColor: #3f1e85;

$headerHeight: 72px;
