@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.section {
  position: relative;
  background: $white;

  display: flex;

  padding: 75px 0px 125px 0px;
  justify-content: center;

  min-height: calc(100vh - $headerHeight);
}

.go-back-button-wrapper {
  position: absolute;
  top: 63px;
  left: 32px;
}

.section__content {
  width: 832px;
  height: 863px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section__title {
  margin-bottom: 32px;

  @include font($lexend, 20px, $fontWeightBold, 1.6);
  color: $secondaryTextColor;
}

.image-wrapper {
  margin-bottom: 32px;

  width: 376px;

  height: 168px;

  display: flex;
  justify-content: space-between;
}

.image {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
}

.image__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image__button {
  padding: 12px 0px;

  min-width: 168px;
  max-width: 100%;

  height: 40px;

  @include font($lexend, 13px, $fontWeightMedium, 1.2);
  color: $secondaryTextColor;

  text-align: center;

  background: var(--gray-100, #f3f5fa);

  transition: $primaryTransition;

  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.image__button--disable {
  pointer-events: none;

  color: rgba(0, 0, 0, 0.3);
}

.image__description {
  max-width: 176px;

  @include font($lexend, 14px, null, 1.7);
  color: $quinaryTextColor;
}

.image__description--margin-top {
  margin-top: auto;
}

.drag-and-drop {
  cursor: pointer;

  position: relative;
  width: 168px;
  height: 168px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e4e0ff;

  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;

    width: 51px;
    height: 51px;

    border-radius: 50%;

    background: $accentColor;

    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
  }

  transition: $primaryTransition;

  &:hover,
  &:focus {
    background: $primaryColor;
  }
}

.drag-and-drop__icon {
  width: 32px;
  height: 32px;

  fill: $white;

  z-index: 2;
}
