@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.wrapper {
  display: grid;
  grid-template-columns: $sidebarWidth 1fr;
}

.main {
  min-height: calc(100vh - $headerHeight);
  background-color: $dashboardBgColor;
}

.section {
  padding: 20px 40px 20px 39px;
}

.pagination {
  display: flex;
  align-items: center;
  width: 100%;
}
