@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.header {
  display: flex;
  align-items: center;

  padding: 19px 39px 21px 43px;

  max-height: $headerHeight;

  border-bottom: 1px solid #dee0e5;

  background-color: $dashboardBgColor;
}

.header--secondary {
  display: flex;
  align-items: center;

  padding: 15px 39px 15px 32px;

  max-height: $headerHeight;

  border: none;

  background-color: $white;
}

.header__title {
  margin-right: auto;

  @include font($nunito, 24px, $fontWeightBold, 1);
  color: $primaryTextColor;
}

.header__logo {
  margin-right: auto;
}

.notification {
  position: relative;

  margin-right: 25px;

  width: 20px;
  height: 20px;
}

.notification--active {
  fill: red;
  &::after {
    position: absolute;

    content: '';
    width: 8px;
    height: 8px;
    top: 0;
    right: 2px;

    border-radius: 50px;

    background-color: #f93386;
  }
}

.notification__icon {
  width: 100%;
  height: 100%;
}

.header__avatar {
  border-radius: 50px;
}
