@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.link {
  display: flex;
  align-items: center;

  padding: 18px 20px 18px 32px;

  width: 100%;

  @include font($nunito, null, $fontWeightMedium, 1.4);
  color: $whiteWithOpacity;

  transition: $primaryTransition;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $white;
  }
}

.link__text {
  flex: 1;
  text-align: start;

  word-break: break-word;
}

.link--first {
  pointer-events: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.08);
}

.link__icon {
  margin-right: 12px;

  width: 18px;
  height: 18px;

  fill: currentColor;
}

.link--active {
  position: relative;
  background-color: $accentColor;
  color: $white;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;

    background-color: $white;
  }
}
