@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.wrapper {
  margin-left: auto;
}

.select {
  margin-bottom: 32px;
}

.title {
  margin-bottom: 32px;

  @include font($lexend, 20px, $fontWeightBold, 1.6);
  color: $secondaryTextColor;
}

.select__text {
  margin-bottom: 4px;

  @include font($lexend, null, null, 1.7);
  color: #505e68;
}
