@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.button {
  display: flex;
  align-items: center;

  min-width: 168px;
  max-width: 100%;

  padding: 16px 0px;

  @include font($lexend, 16px, $fontWeightMedium, 1.5);
  color: $secondaryTextColor;

  transition: $primaryTransition;

  &:hover,
  &:focus {
    color: $primaryColor;

    .button__icon {
      fill: $primaryColor;
    }
  }
}

.button__icon {
  margin-right: 8px;

  width: 24px;
  height: 24px;

  fill: $quinaryTextColor;
}
