@import 'styles/utils/variables';

.row {
  display: grid;
  align-items: center;

  padding: 16px 16px 16px 12px;

  border-radius: 6px;
  background: $white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.03);

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.row__button {
  margin-left: auto;

  width: 24px;
  height: 24px;

  color: #bbb0c8;

  transition: $primaryTransition;

  &:hover,
  &:focus {
    color: $primaryColor;
  }
}

.row__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
