@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.sidebar {
  position: relative;

  width: $sidebarWidth;

  background-color: $sidebarBgColor;

  min-height: 100vh;
}

.sidebar__logo-wrapper {
  margin-bottom: 20px;

  max-height: $headerHeight;

  padding: 15px 0px 15px 32px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logout {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 20px;
  left: 0;

  padding: 18px 20px 18px 32px;

  width: 100%;

  @include font($nunito, 16px, $fontWeightMedium, 1.4);

  color: $white;

  transition: $primaryTransition;

  &:hover,
  &:focus {
    background-color: $accentColor;

    & .logout__icon {
      fill: $white;
    }
  }
}

.logout__text {
  flex: 1;
  text-align: start;

  word-break: break-word;
}

.logout__icon {
  transition: $primaryTransition;

  margin-right: 12px;

  width: 18px;
  height: 18px;

  fill: rgba(255, 255, 255, 0.89);
}
