@import 'styles/utils/mixins';
@import 'styles/utils/variables';

.auth-description {
  @include font($lexend, 19px, null, 1.7);

  color: $quinaryTextColor;

  max-width: 376px;
}

.auth-description--centered {
  text-align: center;
}
