@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0px 28px;

  min-height: 100vh;

  background-color: $white;
}

.title {
  @include font($lexend, 20px, $fontWeightBold, 1.6);
  color: $secondaryTextColor;
  text-align: center;
}

.logo {
  margin-bottom: 44px;
}
