@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.wrapper {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 16px;
}

.select-wrapper {
  display: flex;
  align-items: center;
}

.select__label {
  margin-right: 16px;

  @include font($nunito, null, $fontWeightMedium, 1.7);
  color: #afb7d3;
}

.input-wrapper {
  position: relative;

  width: 236px;
}

.input {
  width: 100%;
  height: 38px;

  padding: 11px 11px 11px 40px;

  @include font($nunito, 12px, $fontWeightMedium, 1.4);
  color: $secondaryTextColor;

  outline: none;

  border-radius: 6px;
  border: 1px solid #e4e7ed;
  background: $white;

  transition: $primaryTransition;

  caret-color: $primaryColor;

  &::placeholder {
    color: #9f9fb6;
  }

  &:hover {
    box-shadow: 0px 2px 6px 0px rgba(4, 9, 33, 0.1);
  }
}

.input__icon {
  position: absolute;

  left: 14px;

  top: 50%;

  transform: translateY(-50%);

  width: 16px;
  height: 16px;
}

.button {
  min-width: 155px;
  max-width: 100%;

  display: flex;
  align-items: center;

  @include font($nunito, null, $fontWeightMedium, 1.7);
  color: $white;

  word-break: break-word;

  padding: 7px 16px 7px 16px;
  border-radius: 6px;
  background: $primaryColor;

  transition: $primaryTransition;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}

.button__icon {
  margin-right: 6px;
  width: 19px;
  height: 19px;

  fill: currentColor;
}
