@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox__input--custom {
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/icons/checkbox-off.svg);
  background-size: cover;
  background-position: center;
}

.checkbox__input:checked + .checkbox__input--custom {
  background-image: url(../../../assets/icons/checkbox-on.svg);
  background-size: cover;
  background-position: center;
}

.checkbox__text {
  margin-left: 16px;

  @include font($lexend, null, $fontWeightMedium, 1.4);
  color: $quinaryTextColor;
}
